/* Veso prensipal la - Li dwe pran 100% lajè ekran an */
.mini-flash-info {
    background: #000000;
    padding: 10px 15px;
    border-radius: 12px;
    overflow: hidden;
    margin: 15px auto;
    width: 100%; /* Ranplase 50% pa 100% */
    box-sizing: border-box;
    border: 1px solid rgba(250, 204, 21, 0.2);
}

.ticker-wrapper {
    width: 100%; /* Ranplase 50% pa 100% */
    overflow: hidden;
    display: flex;
}

/* Tren k ap pote tèks yo */
.ticker-track {
    display: flex;
    width: max-content;
    align-items: center;
    animation: gliseEnfini 20s linear infinite;
}

.ticker-content {
    font-family: 'Poppins', 'Segoe UI', system-ui, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #facc15;
    white-space: nowrap;
    display: inline-block;
    padding-right: 50px;
    box-sizing: border-box;
}

@keyframes gliseEnfini {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
}

.mini-flash-info:hover .ticker-track,
.mini-flash-info:active .ticker-track {
    animation-play-state: paused;
    cursor: pointer;
}
